html {
    scroll-behavior: smooth
}

@media screen and (prefers-reduced-motion:reduce) {
    html {
        scroll-behavior: auto
    }
}

.toc {
    border-left: 3px solid;
    font-size: 16px;
    margin: 0;
    position: relative
}

@media (min-width: 480px) {
    .toc {
        border-left-width: 4px;
        font-size: 17px
    }
}

@media (min-width: 840px) {
    .toc {
        border-left-width: 5px;
        font-size: 18px;
        margin-right: 400px
    }
}

@media (min-width: 480px) {
    .toc:before {
        padding-left: 18px
    }
}

@media (min-width: 840px) {
    .toc:before {
        padding-left: 20px
    }
}

.toc a {
    color: inherit;
    text-decoration: none
}

.toc ul {
    list-style: none;
    margin: 0;
    padding-left: 16px
}

@media (min-width: 480px) {
    .toc ul {
        padding-left: 18px
    }
}

@media (min-width: 840px) {
    .toc ul {
        padding-left: 20px
    }
}

.toc ul li {
    margin: 1em 0
}

.toc ul li:first-child {
    margin-top: 0
}

.toc ul li:last-child {
    margin-bottom: 0
}

.toc ul li ul {
    font-size: .83em;
    margin: 1em 0
}

.toc>ul {
    margin-top: 1em
}

.image {
    width: 60vw;
    margin: 16px;
    cursor: zoom-in;
}

.desc {
    color: #808080;
    font-size: 12px;
    text-align: center;
}